QWidget#Form{
background-color: qlineargradient(spread:pad, x1:0.492, y1:0, x2:0.487, y2:1, stop:0 rgba(53, 132, 228, 255), stop:1 rgba(26, 95, 180, 255));
}
QLabel{
font-weight: bold;
font-size: 20px;
}
QPushButton{
background-color: white;
color: rgb(28, 113, 216);
text-transform: uppercase;
border: 1 px solid gray;
padding: 5px;
border-radius: 7px;
}
QPushButton:hover{
background-color: rgb(230,230,230);
}
QPushButton:pressed{
background-color: rgb(28, 113, 216);
color: white;
border: 2px solid gray;
}